table {
  margin: 0 auto;
  width: 90%;
}

td, th.mat-header-cell {
  text-align: center;
}

th:not(:first-of-type), td:not(:first-of-type) {
  width: 18%;
}

tr.mat-row:last-of-type {
  background-color: lightgray;
  font-weight: bold;
}
